body{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 1200px;
    margin: auto;
}
.wrap-header{
    background-color: red;
    height: 70px;
}
.wrap-banner{
    background-color: yellow;
    height: 450px;
}
/* .wrap-content{
    background-color: black;
    padding: 30px;
} */
.w386{
    width: 386px;
}
.w585{
    width: 585px;
}
.item{
    background-color: lightcoral;
    height: 300px;
    float: left;
}

.clear{
    clear: both;
}
.ml5{
    margin-left: 5px;
}
.ml10{
    margin-left: 10px;
}
.mr5{
    margin-right: 5px;
}
.mr10{
    margin-right: 10px;
}
.mb10{
    margin-bottom: 10px;
}
.mb15{
    margin-bottom: 15px;
}
.mb5{
    margin-bottom: 5px;
}