<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
</head>

<body>
    <div id='app'>
        <button v-on:click="increase(2, $event)">click me</button>
        <button v-on:click="counter++">click me (2)</button>
        <p> {{ counter }} </p>
        <!-- mix html with javascript -->
        <p> {{ counter % 2 == 0 ? `even` : `odd` }}</p>
        <p v-on:mousemove="updateCoordinates">Coordinates: {{ x }} / {{ y }}
            - <span v-on:mousemove.stop='dummy'>DEAD SPOT</span>
        </p>
        <input type="text" v-on:keyup.enter='alertMe'>
        <!-- two-way-binding data  -->
        <p>the name is {{ name }}</p>
        <input type="text" v-model="name">
    </div>

    <script src="https://npmcdn.com/vue/dist/vue.js"></script>

    <div id="app1">
        <button v-on:click='counter++'>Increase</button>
        <button v-on:click='counter--'>Decrease</button>
        <button v-on:click='secondCounter++'>Increase second</button>
        <p>Counter: {{ counter }} | {{ secondCounter }}</p>
        <p>Result: {{ result() }} | {{ output }}</p>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                name: 'Huy',
                counter: 0,
                x: 0,
                y: 0,
            },
            methods: {
                increase: function (step, event) {
                    this.counter += step;
                },
                updateCoordinates: function (x) {
                    this.x = x.clientX;
                    this.y = x.clientY;
                },
                alertMe: function () {
                    alert(alert)
                }
            }
        })

        new Vue({
            el: '#app1',
            data: {
                counter: 0,
                secondCounter: 0
            },
            computed: {
                output: function () {
                    console.log('computed');
                    return this.counter > 5 ? 'Greater than 5' : 'smaller than 5';
                }
            },
            match: {

            },
            methods: {
                result: function () {
                    return (this.counter + this.secondCounter) % 2 == 0 ? 'even' : 'odd';
                }
            }
        })
    </script>
</body>

</html>