/* #ID */
/* .Class */
.wrapperHeader{
    background-color: red;
    height: 30px;
}
.textCenter{
    text-align: center;
}
.wrapperHeader .titleHeader{
    text-align: center;
}
.wrapperBanner{
    background-color: #FDD835;
    height: 300px;
}
.marginBottom{
    margin-bottom: 10px;
}

.wrapperContent .contentLeft{
    width: 49.5%;
    background-color: blueviolet;
    float: left;
}
.wrapperContent .contentRight{
    width: 49.5%;
    background-color: rgb(49, 109, 79);
    float: left;
    margin-left: 1%;
}

.h500{
    height: 500px;
}

.clear{
    clear: both;
}